---

---
<!--Componente del footer, para reutizarlo en todas la paginas de mi app. -->
<footer class="bg-black right-0 left-0">
  <div class="flex flex-col justify-center items-center mx-auto border-t border-neutral-700 px-4 h-28">
    
    <div>
      <a href="/">
        <img src="logo.svg" alt="QUIZZ DEV" class="w-24 "/>
      </a>
    </div>

    <div>
    <h1 class="text-xs pt-1 text-neutral-300">Copyright 2024 Quizz Dev, Inc.</h1>
    </div>

  </div>
</footer>