---
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8" />
	<meta name="description" content="Astro description" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	
	<meta name="generator" content={Astro.generator} />
	<title>{title}</title>
</head>
	
<body>
  <NavBar />
<slot />
	<Footer />
</body>

</html>

<style is:global>
	
html {
	font-family: sans-serif;
	color-scheme: dark light;
	background: radial-gradient(farthest-corner at 50% 50%, rgb(65, 65, 97) 0%, #000005ff 100%);
}

</style>